    .btn {
        position: relative;
        z-index: 1;
        min-width: 200px;
        background-color: transparent;
        border: none;
        color: #0fe0f5;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.5s;
        padding: 12px 20px;
    }

    .btn:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border: 6px solid #0fe0f5;
    }

    .btn:after {
        content: "";
        position: absolute;
        left: 9px;
        top: 9px;
        width: 100%;
        height: 100%;
        z-index: -2;
        border: 6px solid #7a7373;
        transition: all 0.3s 0.2s;
    }

    .btn:hover {
        color: #222222;
    }

    .btn:hover:after {
        transition: all 0.3s;
        left: 0;
        top: 0;
    }

    .btn .inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
    }

    .btn .inner .blob {
        position: absolute;
        top: 6px;
        width: 25%;
        height: 100%;
        background: #0fe0f5;
        border-radius: 100%;
        transform: translate3d(0, 150%, 0) scale(1.7);
        transition: transform 0.45s;
    }

    .btn .inner .blob:nth-child(1) {
        left: 0%;
        transition-delay: 0s;
    }

    .btn .inner .blob:nth-child(2) {
        left: 30%;
        transition-delay: 0.08s;
    }

    .btn .inner .blob:nth-child(3) {
        left: 60%;
        transition-delay: 0.16s;
    }

    .btn .inner .blob:nth-child(4) {
        left: 90%;
        transition-delay: 0.24s;
    }

    .btn:hover .inner .blob {
        transform: translateZ(0) scale(1.7);
    }